//reset number class
.number {
  align-items: unset;
  background-color: unset;
  border-radius: 0em;
  display: unset;
  font-size: 1em;
  height: 0em;
  justify-content: unset;
  margin-right: 0rem;
  min-width: 0em;
  padding: 0 0;
  text-align: unset;
  vertical-align: unset;
}

h2{
  scroll-margin-top:55px
}

h3{
  scroll-margin-top:55px
}